.ordersList {
	background: white;
	box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;

	max-height: 60px;
	transition: max-height .4s;
	overflow: hidden;

	cursor: pointer;

	&.open {
		max-height: 2000px;
	}

	&__values {
		display: flex;
		padding: 20px 10px;

		&:hover {
			background: #cfcfcf;
		}
	}

	&__icon {
		width: 20%;
		display: flex;
		justify-content: flex-end;
	}

	&__status {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 10px;
		border-top: 1px solid $lightGrey;
	}

	&__name {
		width: 40%;
	}

	&__owner {
		width: 20%;
		border-left: 1px solid $lightGrey-2;
		padding-left: 10px;
		box-sizing: border-box;
	}

	&__list {
		width: 40%;
	}

	&__prize {
		border-left: 1px solid $lightGrey-2;
		padding-left: 10px;
		box-sizing: border-box;
		width: 20%;
	}

	&__statuses {
		margin-left: auto;
		margin-right: 25px;
		display: flex;
		align-items: center;
	}

	&__statusLabel {
		font-size: 12px;
		padding-right: 10px;
		color: $lightGrey-2;
	}
}
